@require '../common.styl'

.user-box
	&:before
		size 3px 100px
		content ' '
		display block
		position absolute
		z-index 1
		top 0
		right 61px
		background c-light
	#btn-google, div.ball
		width 40px
		height 40px
		display block
		position absolute
		top 98px
		right 42px
		svg
			position relative
			pos 8px 6px