@require '../common.styl'

#logo
	margin 0
	padding 28px 0 0 53px
	position relative
	.wrapper
		size 310px 94px
		border 3px solid c-light
		border-top none
		border-right none
		text-align right
		svg
			fill c-light
		span
			color c-light
			position absolute
			font-size 18px
			display block
			pos 101px 29px
	.ball
		position absolute
		size 70px 70px
		pos 20px 20px
		svg
			position relative
			pos -11px -8px
	@media (max-width 380px)
		.wrapper
			width 280px 
			svg
				width 240px
	@media (max-width 350px)
		.wrapper
			width 260px 
			svg
				width 220px