@require 'common.styl'

header
	clearfix()

#logo
	margin 0
	width 350px
	height 150px
	bg-black .1
	float left
	& span
		c-black .1
	
#top-links
	float right
	padding 35px 12px 0 0
	a
		display block
		float right
		width 18px
		height 12px
		margin-left 10px
		border-radius 3px
		overflow hidden
		.alt
			display none
		svg
			fill transp-white(.5)
			trans(.3s)
		&:hover svg
			fill white
	.contact-us
		display block
		text-align right
		svg
			position relative
			top -1px
	.flag
		display block
		font-size 10px
		text-align right