@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,400i,700,900')
@require 'common.styl'

bgcolor = #455

*
	box-sizing border-box
	font-family 'Titillium Web', sans-serif

body
	background-color bgcolor
	padding 0
	margin 0
	
a
	color #eee
	text-decoration none
	&:hover
		color #fff
		text-shadow 0 0 5px transp-white(.4)
		
button, a.btn
	opacity .7
	trans .25s
	&:focus
		outline 1px dotted white
	&:hover
		opacity 1
	&:active
		opacity 1
		position:relative
		top 1px
		left 1px
		outline none
	&.standard
		appearance none
		border none
		bg-white .7
		border-radius 8px
		padding 6px 12px
		font-size 18px
		text-transform uppercase
		svg
			margin-right 10px
	&.secondary
		appearance none
		border none
		bg-white .2
		border-radius 6px
		padding 4px 8px
		font-size 14px
		text-transform uppercase

::-webkit-input-placeholder
	c-white .2
	font-weight 100
::-moz-placeholder
	c-white .2
	font-weight 100
:-ms-input-placeholder
	c-white .2
	font-weight 100
	
input:-webkit-autofill
	-webkit-box-shadow 0 0 0px 1000px bgcolor inset;

.title
	margin 20px 0 5px 100px
	padding-bottom 5px
	border-bottom 2px solid transp-white(.5)
	& h2, & h3
		display inline-block
		margin 0 10px 0 0
		font-size 32px
		c-black .5
		font-weight 900
	& h3
		font-weight 200
		font-size 22px