@require 'common.styl'

.spinner
	margin 40px 100px
	position relative
	svg
		f-white .5
	span
		display block
		position absolute
		top 22px
		left 70px
		c-white .3
		text-transform uppercase
		font-size 10px
		letter-spacing 2px