@require '../../common.styl'

#game-info .editor-score
	.ball
		size 110px 110px
		margin-top 30px
		text-align center
	.label
		display block
		text-align center
		font-size 10px
		text-transform lowercase
		color c-medium
		margin-top 10px
	.line
		position absolute
		display block
		background c-light
		size 3px 100px
		pos 54px 140px
	.numbers
		color red
	strong
		font-size 30px
	small
		c-black .5