@require '../../common.styl'

#game-info .editor-review
	margin 0 0 0 150px
	padding-right 15px
	flex-grow 1
	overflow auto
	p
		font-size 14px
		line-height 20px
		font-weight 400
		color c-medium
		text-align right
		margin 0
		padding 2px 0 10px
	h5
		font-size 12px
		color c-dark2
		margin 8px 0 0
		font-weight normal
		text-align right