@require '../../common.styl'

#game-info .media-info
	font-size 16px
	float left
	.ball
		size 40px 40px
		position absolute
		right 302px
		top 23px
		color c-medium2
		text-align center
		line-height 12px
		strong
			margin-top 7px
			font-size 20px
			display block
			color c-dark
		small
			font-size 10px
			line-height 10px

	p
		margin 0
		padding 8px 0 0 20px
		color c-medium2
		span
			color c-medium