@require '../../common.styl'

#game-info .series
	float right
	width 323px
	padding 12px 20px 20px
	list-style none
	text-align right
	margin 0
	h6
		font-weight 100
		color c-light
		font-size 16px
		margin 0 0 6px
		a
			font-weight bold
			display inline-block
			margin-left 5px
			margin-right 0
		small
			text-transform lowercase
			font-size 11px
			display block
			text-align right
			color c-medium
			line-height 11px
	ul
		margin 3px 0
		padding 0
		list-style none
		li
			padding 3px 0
			position relative
			color c-medium2
			line-height 18px
			a
				trans .3s
				&:hover
					text-shadow 0 0 2px c-light
			span
				font-weight bold
			.ball
				line-height 24px
	.ball
		position absolute
		display block
		size 20px 20px
		right -32px
		top 2px
		svg
			position relative
			pos -4px -3px

	@media (max-width: 720px)
		width auto

	@media (max-width: 500px)
		.ball
			display none