@require '../../common.styl'

#game-info .user-score
	.ball
		size 72px 72px
		margin 154px 0 0 20px
		text-align center
	.label
		display block
		text-align center
		font-size 10px
		text-transform lowercase
		color c-medium
		margin-top 10px
	.number
		color red
	small
		c-black .5