{
    "extends": "standard",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "no-tabs": 0,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "space-before-function-paren": 0,
        "operator-linebreak": [
            "error",
            "after"
        ],
        "generator-star-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "padded-blocks": 0
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
        "react"
    ]
}