@require '../common.styl'

.pagination
	margin-left 107px
	position relative
	z-index 2
	a
		float left
		size 15px 15px
		margin-right 7px
		cursor pointer
		position relative
		top -9px
		svg
			position relative
		&.inactive svg
			opacity .2
	.sequence
		size 25px 25px
		top -14px
		svg
			pos 5px 3px
		&.prev svg
			left 3px
	.extremes svg
		pos 2px -6px
	.extremes.first svg
		pos 4px -6px
	div.ball
		size 40px 40px
		margin-right 7px
		float left
		position relative
		top -22px
	.select-box
		float left
		position relative
		select
			appearance none
			border 0
			font-size 16px
			letter-spacing 50%
			width 40px
			padding 3px 8px
			text-align-last center
			border-radius 0
			color bgcolor
			font-weight bold
			background transparent
			trans .3s
			&:focus, &:hover
				color c-dark2
				outline none
		svg
			trans .3s
			position absolute
			pos 15px 26px

	@media (max-width: 500px)
		margin-left 20px
		.extremes
			display none

.pagination:last-child
	top 3px