@require '../common.styl'

.user-box
	img
		size 40px 40px
	&:before
		size 3px 100px
		content ' '
		display block
		position absolute
		z-index 1
		top 0
		right 61px
		background c-light
	.login, div.ball
		width 46px
		height 46px
		display block
		position absolute
		top 97px
		right 39px
		border 3px solid c-light
		z-index 6
		svg
			position relative
			pos 8px 6px
#user-reviews-overlay .user-box
	float left
	line-height 14px
	position relative
	top -3px
	.login-link
		position relative
		top 3px
	&:before
		content none
	.ball.avatar
		size 24px 24px
		position static
		float left
		margin-right 10px
		img
			size 18px 18px
	.popup
		transform none
		opacity 1
		float left
		.ball.name
			background none
			width auto
			float left
			position static
			border 0
			color c-light
			overflow visible
			padding-top 4px
			font-size 14px
			strong
				font-size 14px
				text-transform none
		.ball.logout
			size 18px 18px
			position relative
			float left
			margin-right 10px
			pos 0 0
			right auto
			margin 2px 0 0 6px
			svg
				pos 3px 3px
				size 12px 12px
		& > span
			display none

@media (max-width: 1024px)
	header .user-box
		.avatar, .popup
			display none
		&:before
			height 20px
			right 70px
@media (max-width: 500px)
	header .user-box:before
		right 40px
@media (max-width: 400px)
	header .user-box
		.login
			right auto
			left 32px
		&:before
			right 19px