@require '../common.styl'

.user-box
	.popup
		opacity 0
		position relative
		trans .3s
		pointer-events none
		transform translateY(-10px)
		.name
			font-size 10px
			line-height 14px
			width 75px
			height 75px
			padding-top 20px
			text-align center
			top 52px
			right 25px
			strong
				font-size 12px
		.logout
			position absolute
			right auto
			size 31px 31px
			right 47px
			top 13px
			padding 6px 0 0 8px
			z-index 7
		& > span
			display block
			position absolute
			size 3px 11px
			top 41px
			right 61px
			background c-light
	&:hover .popup
		opacity 1
		pointer-events unset
		transform unset