@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,400i,700,900')
@require 'common.styl'

*
	box-sizing border-box
	font-family 'Titillium Web', sans-serif

body
	background-color bgcolor
	background -webkit-linear-gradient(to bottom, mix(black, bgcolor, 20%) 0, bgcolor 100px)
	background linear-gradient(to bottom, mix(black, bgcolor, 20%) 0, bgcolor 100px)
	padding 0
	margin 0
	&.overlayed
		overflow-y hidden
	
a
	color #eee
	text-decoration none
		
button, .btn
	appearance none
	border none
	trans .25s
	cursor pointer
	&:focus
		outline none
	&:hover
		transform scale(1.1, 1.1)
	&:active
		transform scale(.9, .9)

::-webkit-input-placeholder
	color c-medium2
	font-weight 100
::-moz-placeholder
	color c-medium2
	font-weight 100
:-ms-input-placeholder
	color c-medium2
	font-weight 100
	
.ball
	background c-light
	border-radius 100%
	overflow hidden
	svg
		fill bgcolor
		trans .25s
button.ball
	&:focus svg
		fill black
	&[disabled] svg
		opacity .2
	
.disable-hover, .disable-hover *
	pointer-events none !important

.all-icons
	position absolute

/* generic content */
		
.text-content
	padding 20px 30px 30px 100px
	margin-right 170px
	border-right 3px solid c-light
	color c-dark2
	font-size 14px
	@media (max-width: 1024px)
		margin-right 70px
	@media (max-width: 500px)
		margin-right 0
		border-right 0
		padding-left 40px