size(w, h)
	width w
	height h

pos(x, y)
	left x
	top y

trans(duration)
	-webkit-transition all duration ease-out
	transition all duration ease-out

trans-prop(prop, duration)
	-webkit-transition prop duration ease-out
	transition prop duration ease-out
	
clearfix()
	&:after
		content ""
		display table
		clear both
		
flip()
	-webkit-transform scaleX(-1)
	transform scaleX(-1)
	
appearance(v)
	-moz-appearance v
	-webkit-appearance v
	appearance v

bgcolor = #788
c-light = lighten(bgcolor, 75%)
c-medium = lighten(bgcolor, 50%)
c-medium2 = lighten(bgcolor, 25%)
c-dark = darken(bgcolor, 25%)
c-dark2 = darken(bgcolor, 50%)
c-dark3 = darken(bgcolor, 75%)

scoresColours = #F00 #F60 #F90 #FC0 #FF0 #CF0 #9F0 #0F9 #0FC #0FF #5CF #7AF #88F #97F #B7F 