@require '../common.styl'

#contact-form
	padding 20px 30px 20px 100px
	margin-right 170px
	border-right 3px solid c-light
	clearfix()
	input, textarea
		padding 6px 0
		font-size 18px
		display block
		margin-left 10px
		border 0
		min-width 200px
		width 30%
		float right
		border-bottom 3px solid c-light
		background transparent
		box-shadow none
		trans .3s
		&:focus
			outline none
			border-bottom-color white
		&::-webkit-input-placeholder
			color c-medium
		&::-moz-placeholder
			color c-medium
		&:-ms-input-placeholder
			color c-medium
	textarea
		height 120px
		min-width 410px
		width calc(60% + 10px)
		clear right
		resize vertical
		border none
		background-color rgba(c-dark, .5)
		padding 6px 12px
		margin 20px 0
		trans-prop border .3s
	.failure-message
		float right
		color red
		
	.button-wrapper
		position relative
		left 30px
		clear right
		margin-bottom 100px
		&:after
			content ' '
			display block
			size 30px 3px
			background c-light
			position absolute
			right 0
			top 23px
		button
			size 48px 48px
			float right
			margin-right 30px
			svg
				margin-top 5px
	.spinner
		margin 0
		border none
		top -40px
		z-index 3

	@media (max-width: 1024px)
		margin-right 70px

	@media (max-width: 500px)
		margin-right 40px
		padding-left 40px
		input
			width 100%
		textarea
			width 100%
			min-width 0